
@{
    ViewData["Title"] = "ErrorPage";
}

<div class="text-center text-danger">

    <h1> Error: No product is found </h1>
    <p> PLease try again</p>
    <a href="/Home/Index" Class="btn btn-dark">Go Back</a>


</div>


